*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font: 16px 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 0;
  position: relative;
  background-color: #B5C8CE;
}

h1 {
  display: none;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3f1fa;
  -webkit-transition: height .3s ease-out;
  -o-transition: height .3s ease-out;
  -moz-transition: height .3s ease-out;
  transition: height .3s ease-out;
}

.search {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.search__input {
  width: 200px;
  border: none;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #fff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -200px 0;
  -moz-background-size: 200px 100%;
       background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
  text-indent: 0;
}

.search__input:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.search__input:focus::-webkit-input-placeholder {
  color: #fff;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.search__input:focus:-moz-placeholder {
  color: #fff;
  font-size: 11px;
  -moz-transform: translateY(-20px);
       transform: translateY(-20px);
  visibility: visible !important;
}

.search__input:focus::-moz-placeholder {
  color: #fff;
  font-size: 11px;
  -moz-transform: translateY(-20px);
       transform: translateY(-20px);
  visibility: visible !important;
}

.search__input:focus:-ms-input-placeholder {
  color: #fff;
  font-size: 11px;
  -ms-transform: translateY(-20px);
      transform: translateY(-20px);
  visibility: visible !important;
}

.search__input:focus::placeholder {
  color: #fff;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
       -o-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.search__input::-webkit-input-placeholder {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  color: #d9d9d9;
}

.search__input:-moz-placeholder {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  color: #d9d9d9;
}

.search__input::-moz-placeholder {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  color: #d9d9d9;
}

.search__input:-ms-input-placeholder {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  color: #d9d9d9;
}

.search__input::placeholder {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  color: #d9d9d9;
}

#canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.search-output {
  margin: 0 auto;
  padding: 88px 20px 0;
  width: 600px;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity .8s ease .3s;
  -o-transition: opacity .8s ease .3s;
  -moz-transition: opacity .8s ease .3s;
  transition: opacity .8s ease .3s;
}

.search-output .search-results {
  position: relative;
}

.search-output a {
  display: block;
  margin: 20px 0;
  padding: 10px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #e3f1fa;
  text-decoration: none;
  color: #666;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -moz-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -moz-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search-output a:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
     -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search-output a h3 {
  margin: 0;
}
